BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0

InsertBraces: true

AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true

BraceWrapping:
  AfterControlStatement: false
  AfterFunction: false
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  BeforeElse: false