# Project excludes
.pio


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# compressed files
*.zip
*.gz
*.tar

# Executables
*.exe
*.out
*.app
doc/hardware/kicad/Filament-Silicagel-Dryer/Filament-Silicagel-Dryer-backups/*
doc/hardware/kicad/Filament-Silicagel-Dryer/gerber/*
